#mainPicTop {
  border-radius: 0;
  height: auto;
  position: relative;
  background-image: url('../../images/site\ assets/fishing_cropped02.jpg');
  background-position: center center;
  background-size: cover;
}

.container{
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.shop-item-img{
  object-fit: cover;
  height: 20rem;
  width: auto;
}

.notification{
  position: absolute;
  top: 13px;
  right: 43px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background: red;
  color: #fff;
  font-family: sans-serif;
  font-size: 13px;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}